apscheduler>=3.10.4
requests>=2.32.3
PyYAML>=6.0.1
twilio>=8.10.0
pysnmp>=4.4.12
python-dotenv>=1.0.1
supabase>=2.15.1
fastapi>=0.111.0
uvicorn>=0.29.0
pydantic>=2.7.1
reportlab>=4.2.0
matplotlib>=3.8.4
pandas>=2.2.2
numpy>=1.26.4
librouteros>=3.2.0
cryptography>=42.0.8
junos-eznc>=2.6.8
ncclient>=0.6.15
lxml>=4.9.3 